# These are the approximate values you
# should use; On your local machine, you
# can delete everything except PGDATABASE,
# which you should leave as carpooldb!
PGHOST=localhost
PGUSER=carpool
PGPASSWORD=password_here
PGDATABASE=carpooldb

# Random value for Express to securely sign session data
SESSION_SECRET=

# Google Maps Keys
GOOGLE_MAPS_PLACES_KEY=
GOOGLE_MAPS_ROUTING_KEY=

# Owner Information
CONTACT_EMAIL=
SITE_NAME=LEAP Lifts

# SendInBlue Account Details
SENDINBLUE_EMAIL=
SENDINBLUE_PASSWORD=
