extends base.pug

block navbar_settings
  - var current_page = "dashboard"

block header_extension
  link(rel="stylesheet", href="/static/dashboard.css")

block content
  .row.mb-3
    .col.text-center
      a.btn.btn-info.btn-lg(href="/trips/new", style="width: 200px;")
        i.fas.fa-plus.mr-2
        | New Trip
  each trip in trips
    .row.mb-3
      .col
        .card
          h5.card-header(class=`trip-${trip.status}`)
            if trip.status == 'confirmed'
              i.mr-2(class='fas fa-check-circle')
              | Confirmed Trip
            else if trip.status == 'pending'
              i.mr-2(class='fas fa-exclamation-triangle')
              | Pending Trip
            else if trip.status == 'processing'
              i.mr-2(class='fas fa-sync-alt')
              | Processing Trip
            else
              | (Unknown Status)
          .card-body
            if trip.status == 'confirmed' || trip.status == 'pending'
              h5.card-title
                = `Trip with ${trip.other_member}`
              p.card-text This is text
              button.btn.btn-outline-secondary Trip Details