extends base.pug

block navbar_settings
  - var current_page = "homepage"

block content
  .row
    .col.mb-4
      #main-jumbo.text-white.box-shadow
        .container
          .row
            .col.col-md-6
              h1.display-4 LEAP Lifts
              p.lead Find a carpool to or from campus!
  .row
    .col-12.col-lg-6.signup-column.mb-4
      text-center
        a.text-center.text-white.signup-box.box-shadow-hover(href="/trips/new", role= "button")
          h1
            img.mr-3(src="/static/steering-wheel.svg",style="height:30px;")
            | Drivers
          p Sign up to give other students rides
          button.btn.btn-outline-light
            | Give A Ride
            i.fas.fa-angle-double-right.ml-2

    .col-12.col-lg-6.signup-column.mb-4
      a.text-center.text-white.signup-box.box-shadow-hover(href="/trips/new", role= "button")
        h1
          i.fas.fa-user-friends.mr-3
          | Riders
        p Sign up to get rides with other students
        button.btn.btn-outline-light
          | Get A Ride
          i.fas.fa-angle-double-right.ml-2
