extends base.pug

block content
  // <p> Tag
  p
    // <h4>Current Time</h4> inside the <p> tag
    h4 Current Time
    // <br /> tag inside the <p> tag
    br
    // Plain text (⏰: ) inside the <p> tag
    | ⏰: 
    // The contents of the variable `now` inside the <p> tag
    = now
  // </p>
    