extends base.pug

block navbar_settings
  - var current_page = "sample-endpoint"

block content
  .row
    .col
      a.btn.btn-outline-success(href="/sample-endpoint/add") Add Record
      hr
      ul
        each sample in samples
          li= sample.created_at

    