extends ../base.pug

block navbar_settings
  - var current_page = "database-error"

block content
  .row
    .col
      .alert.alert-danger(role="alert")
        h4
          i.fas.fa-exclamation-triangle.mr-2
          | Database Error
        hr
        p.mb-0 Your request could not be completed at this time
    