extends ../base.pug

block navbar_settings
  - var current_page = "not-found"

append title
  = ' - Not Found'

block content
  .row
    .col
      .alert.alert-danger(role="alert")
        h4
          i.fas.fa-exclamation-triangle.mr-2
          | 404 - Page Not Found
        hr
        p.mb-0 The resource you were looking for doesn't exist at this location
    