:root {
  --color1: rgba(208, 219, 151, 1);
  --color2: rgba(105, 181, 120, 1);
  --color3: rgba(58, 125, 68, 1);
  --color4: rgba(37, 77, 50, 1);
  --color5: rgba(19, 39, 78, 1);
}

.navbar {
  background-color: var(--color5);
}

.bg-car {
  height: 50vh;
  color: white;
  background-image: url('/static/photo-1493238792000-8113da705763.jpeg');
  background-size: cover;
  background-position-y: center;
}

#left-item {
  position: relative;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 35%;
  padding: 30px;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(30px);
}

.driver-signup-jumbo {
  background-color: var(--color5);
}