:root {
  --color1: rgba(208, 219, 151, 1);
  --color2: rgba(105, 181, 120, 1);
  --color3: rgba(58, 125, 68, 1);
  --color4: rgba(37, 77, 50, 1);
  --color5: rgba(19, 39, 78, 1);
}

.navbar {
  background-color: var(--color5);
}

.bg-car {
  height: 50vh;
  color: white;
  background-image: url('/static/car-darkened-left.jpg');
  background-size: cover;
  background-position-x: left;
  background-position-y: bottom;
}

.jumbotron {
  box-shadow: 0px 10px 30px gray;
}

.driver-signup-jumbo {
  display: block;
  background-color: var(--color5);
  box-shadow: 0 3px 14px rgba(50,50,93,.3);
  transition: all .25s ease;
}

.driver-signup-jumbo:hover {
  text-decoration: none;
  box-shadow: 0 7px 20px rgba(50,50,93,.7);
}