:root {
  --color1: rgba(208, 219, 151, 1);
  --color2: rgba(105, 181, 120, 1);
  --color3: rgba(58, 125, 68, 1);
  --color4: rgba(37, 77, 50, 1);
  
  --dark-blue: rgba(19, 39, 78, 1);
}

.navbar {
  background-color: var(--dark-blue);
}

#main-jumbo {
  height: 50vh;
  color: white;
  
  padding: 2rem;
  border-radius: .3rem;

  background-image: url('/static/car-darkened-left.jpg');
  background-size: cover;
  background-position-x: left;
  background-position-y: bottom;
}

.box-shadow, .box-shadow-hover {
  box-shadow: 0 10px 14px rgba(50, 50, 93,.5);
  transition: box-shadow .25s ease;
}

.box-shadow-hover:hover {
  box-shadow: 0 10px 20px rgba(50,50,93,.7);
}

.signup-box {
  display: block;
  padding: 2rem 1rem;
  border-radius: .3rem;
  background-color: var(--dark-blue);
}

.signup-box:hover {
  text-decoration: none;
}

.active.blue-focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #343a40;
    color: white;
  }

  .card-header {
    color: #212529;
  }

  .card-body {
    background-color: #444649;
    border-radius: 3px;
  }

  .box-shadow, .box-shadow-hover {
    box-shadow: none;
  }

  .navbar {
    background-color: #1f2d3b;
  }
}